@model EF_QueryTests.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.orderdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.requireddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.requireddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shippeddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shippeddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.freight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.freight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipcity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipcity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipregion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipregion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shippostalcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shippostalcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipcountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipcountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.companyname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.companyname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipper.companyname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipper.companyname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.orderid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
